.item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: 100%;
    
}

.item-container h1{
    text-align: center;
    background-color: rgb(132, 215, 176);
}

.item-name{
    width: 100%;
}

.item_sell{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.faktura_dane{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 100px;
}

p{
    margin: 5px;
}

.App{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

input{
    margin: 10px;
    min-width: 200px;
    padding: 10px;
}


/* table faktury*/

.faktura_pozycja{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.faktura_pozycja table tr td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.faktura_podsumowanie{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    margin-right: 100px;
}

.faktura_podsumowanie p{
    margin: 10px;
}

.faktura_do_zaplaty{
    display: flex;
    margin-left: 100px;
    align-items: center;
    width: 100%;
}

.faktura_podpis{
    display: flex;
    width: 100%;
    margin-top: 50px;
    gap: 40%;
    justify-content: space-evenly;
}