.item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 35%;
    
}

.item-container h1{
    text-align: center;
    background-color: rgb(132, 215, 176);
}

.item-name{
    width: 100%;
}

.App{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

input{
    margin: 10px;
    min-width: 200px;
    padding: 10px;
}